<div *ngIf="loading" class="app-page-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>
<mat-toolbar *ngIf="!loading">
    <span class="center-text">Edit Task</span>
</mat-toolbar>
<div *ngIf="!loading">
    <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="form" *ngIf="!loading">
    <form [formGroup]="editTaskFormGroup">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="titleCtrl" type="text" required>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="descriptionCtrl"></textarea>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Responsible</mat-label>
            <mat-select formControlName="responsibleCtrl">
                <mat-option *ngFor="let member of allMembers" [value]="member._id">{{ member.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Delivery Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="deliveryDateCtrl">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Tag</mat-label>
            <mat-select formControlName="tagCtrl">
                <mat-option *ngFor="let tag of allTags" [value]="tag">{{ tag }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="step-nav-ctn">
            <button mat-stroked-button [disabled]="editTaskFormGroup.invalid" color="primary" (click)="onSubmit()">Edit Task
            </button>
        </div>
    </form>
</div>
